form {
    width: 100%;
}

#nav {
    background-color: rgb(200, 200, 200);
}

.card-body p {
  display: block;
  text-align: left;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 150px;
  line-height: 1.8em;
  max-width: 90%;
}


