<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>IFMT DAP</title>
    <link rel="shortcut icon" href="/img/favicon.png" />
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#formPost").submit(function (e) {
                e.preventDefault();
                var json = ConvertFormToJSON("#formPost");
                var user = $("input#user").val();
                var pwd = $("input#pwd").val();
                function basic_auth(user, pwd) {
                    var token = user + ':' + pwd;
                    var hash = btoa(token);
                    return "Basic " + hash;
                }
                $.ajax({
                    url: '/postar',
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': basic_auth(user, pwd)
                    },
                    type: 'PUT',
                    dataType: 'json',
                    data: JSON.stringify(json),
                    success: window.location.href = "/"
                });
            });

            function ConvertFormToJSON(form) {
                var array = jQuery(form).serializeArray();
                var json = {};
                jQuery.each(array, function () {
                    json[this.name] = this.value || '';
                });
                return json;
            }
        });
    </script>
</head>

<body>
    <div class="container-fluid">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-6">
                    <img class="img-fluid" height="170" width="200" alt="ifmtLogo"
                        style="min-height: 100!important; min-width: 130!important;"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d3/Instituto_Federal_de_Mato_Grosso_-_Marca_Vertical_2015.svg/1200px-Instituto_Federal_de_Mato_Grosso_-_Marca_Vertical_2015.svg.png">
                </div>
                <div class="col-6"><img class="img-fluid"
                        src="https://1.bp.blogspot.com/-1QsfPzurKrs/XcZGWFueeXI/AAAAAAAAbdk/6tEc7hysXNgKx0U1HNbnROGg_AnW7QgqQCLcBGAsYHQ/s320/ifmtG.png"
                        alt="dap"></div>
            </div>
        </div>
        <br>
    </div>
    <div id="nav" class="container-fluid">
        <div class="container sticky-top">
            <nav class="navbar navbar-expand-lg navbar-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item active nav-link" href="/postar">Novo<span
                                class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" th:href="@{/logout}">Sair</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <br>

    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="display-4">Nova Publicação</h1>
        </div>
        <div class="d-flex justify-content-center">
            <div class="form-group">
                <label for="inputImg">Imagem</label>
                <input class="btn btn-secondary" type="file" accept="image/*" id="inputImg">
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <img class="rounded img-fluid" alt="" th:src="${post.img}" id="imgPreview" style="max-height:150px;">
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <form id="formPost">
                <input type="number" name="id" th:value="${post.id}" hidden>
                <div class="form-group">
                    <label for="inputTitle">Título</label>
                    <input th:text="${post.title}" type="text" name="title" class="form-control" id="inputTitle">
                </div>
                <div class="form-group">
                    <label for="inputContent">Conteúdo</label>
                    <textarea th:text="${post.content}" id="inputContent" class="form-control" name="content" rows="6"></textarea>
                    <br>
                    <input th:text="${post.img}" hidden type="text" name="img" id="imgBase64" />
                    <input class="btn btn-primary" type="submit" value="Postar" />
                </div>
            </form>
        </div>

    </div>
    <script src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>


</html>